* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgb(142, 154, 27);
    color: white;
    text-align: center;
    font-size: 3em;
    height: 65px;
}

img {
    height: 350px;
    margin: -5px;
}

p {
    color: white;
    font-size: 1.1em;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.378);
    text-align: justify;
}
.botao0 {
    margin: 2px;
    background-color: blue;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

/*Tela 1*/
#menu01 {
    font-size: 1.1em;
    padding: 1px;
    background-color: rgb(142, 154, 27);
 }
.botao {
    background-color: blue;
    color: white;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    right: -130px;
    bottom: -20px;
}
/*---*/

/*tela 2*/
.menu02 {
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
    background-color: rgb(142, 154, 27);
    color: white;
    height: 200px;
}
#cadastro {
    width: 412px;
}
#cadastro3 {
    width: 320px;
}
/*----*/

/*tela 3*/
h2 {
    color: white;
    background-color: rgb(66, 71, 24);
    text-align: center;
}
.menu03 {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(142, 154, 27);
    color: white;
    height: 420px; 
}
.menu03 > p {
    text-align: center;
}
#checar {
    margin: 10px;
}
/*----*/

/*tela 4*/
h2 {
    color: white;
    background-color: rgb(66, 71, 24);
    text-align: center;
}
.menu04 {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(142, 154, 27);
    color: white;
    height: 420px; 
}
.menu04 > p {
    text-align: center;
}

#num {
    text-align: center;
    width: 40px; 
}
.reservas {
    background-color: rgb(202, 13, 13);
}
/*---*/

/*Tela 5*/
.menu05 {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(142, 154, 27);
    color: white;
    height: 420px;
}
.menu05 > p {
    text-align: center;
}
.botao5 {
    margin: 10px;
    background-color: blue;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

.sucesso {
    background-color: goldenrod;
}

/*---*/

footer {
    text-align: center;
    position: relative;
    bottom: -250px;
    background-color: rgb(142, 154, 27);
}